<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
     <link rel="stylesheet" type="text/css" href="../static/my/css/projectContent.css">
</head>
<body>

    <div class="content">
        <div class="main">
            <h2 id="conclusion">Conclusion</h2>
             <p>In our case, we used the attributes related to sales to predict the occurrence of errors. The decision tree consists of various nodes, including the root node, internal nodes, and leaf nodes. The root node is the topmost decision node in the tree and is typically the best predictor for the given problem. At each internal node, a specific attribute is tested, and based on the outcome of the test, the data is split into different branches, representing the possible outcomes of the test.</p>

            <p>One of the advantages of decision trees is that they are relatively inexpensive to construct and extremely fast to use. They are also easy to interpret, especially for small-sized trees, and can provide comparable accuracy to other classification techniques for simple data sets. However, decision trees are prone to overfitting, which means they may become too specific to the training data and perform poorly on unseen data. Additionally, the decision boundary of a decision tree is restricted to being parallel to the attribute axes, which may limit its ability to capture complex relationships.</p>

            <p>Throughout this project, we learned how to apply various data science techniques, such as data preparation, hypothesis and model building, evaluation, and interpretation. By leveraging these techniques, we aimed to improve the efficiency and accuracy of job advertisement classification for the manpower survey. The knowledge and skills gained from this project enabled us to build a robust and effective model that can predict and classify the job codes of job advertisements, contributing to the overall success of the project.</p>
        </div>
    </div>

</body>
</html>
