<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
     <link rel="stylesheet" type="text/css" href="../static/my/css/projectContent.css">
</head>
<body>

    <div class="content">

        <div class="main">
            <h2>Data Preparation</h2>

            <h3>(A) Sources of data</h3>
            <p>We used R to select the first 1000 advertisements from a pool of 1500 teacher preparation advertisements.</p>
            <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da1.png') }}" alt="Image">
            <h3>(B) Data preparation</h3>
            <p>We used R to handle various issues with the raw data we retrieved.</p>
            <ol>
                <li><strong>Missing entries</strong></li>
                <p>All missing entries in the raw data were represented by "N/A" or "-". We used the Amelia package and gsub command in R to generate a missingness map for the data. Then, we replaced "N/A" and "-" with "NA" to facilitate further processing in R.</p>
                <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da2.png') }}" alt="Image">
                <li><strong>Set up the work database for NLP (Natural Language Processing)</strong></li>
                <p>a) We added the titles of the 1000 advertisements to the work database.</p>
                <img src="{{ url_for('static', filename='img/projectImg/data_analysis/dal1.png') }}" alt="Image">
                <p>b) We changed the data type of the work database to a vector.</p>
                <img src="{{ url_for('static', filename='img/projectImg/data_analysis/dal2.png') }}" alt="Image">
                <p>c) We removed all useless punctuation (e.g., #, /, ()) and digits (0-9) from the titles.</p>
                <img src="{{ url_for('static', filename='img/projectImg/data_analysis/dal3.png') }}" alt="Image">
                <p>d) We converted the titles in the work database to lowercase.</p>
                <img src="{{ url_for('static', filename='img/projectImg/data_analysis/dal4.png') }}" alt="Image">

                <li><strong>Re-formatting</strong></li>
                <p>We re-formatted the data by deleting all punctuation (e.g., #) and changing all job codes 0 to "000".</p>
                <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da3.png') }}" alt="Image">
                <li><strong>Correcting the data</strong></li>
                <p>We used the if-else-if command to correct the job employment types as full-time, part-time, or freelance.</p>
                <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da4.png') }}" alt="Image">
            </ol>

            <h3>(C) Sample listing of dataset for model building</h3>
            <p>We used R to write a new Excel file to store the cleaned data source. The following are screen captures of a portion of the final dataset.</p>
            <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da5.png') }}" alt="Image">
            <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da6.png') }}" alt="Image">
            <h2>Data exploration</h2>
            <p>The following are summary statistics generated by an R function for the training dataset and summary statistics generated by a Python function for the training dataset.</p>
            <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da7.png') }}" alt="Image">
            <p>The following are summary statistics generated by an R function for the training dataset and summary statistics generated by a Python function for the testing dataset.</p>
            <img src="{{ url_for('static', filename='img/projectImg/data_analysis/da8.png') }}" alt="Image">
        </div>

    </div>

</body>
</html>
