<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about us</title>
    <link rel="stylesheet" type="text/css" href="../static/my/css/welcome.css">
    <link rel="stylesheet" type="text/css" href="../../webDL/webAssignment/singerPage/singer.css">
</head>
<body>

<main class="intro">
    <div class="frame"></div>
    <img class="top-nanahira" src="	https://nanahira.jp/trip_frolic/img/top_nanahira.png" alt="top_nanahira">
    <img class="top-caster" src="https://nanahira.jp/trip_frolic/img/top_caster.png" alt="top_caster">
    <img class="top-catch" src="https://nanahira.jp/trip_frolic/img/top_catch.png" alt="top_catch">
    <img class="logo" src="	https://nanahira.jp/trip_frolic/img/logo.png" alt="logo">
    <div class="intro-text">
        <div class="space">
            <h1>
                <span>Welcome to</span>
                <br>
                <span>DSA1A group8</span>
                <br>
                <span>NPL presentation</span>
            </h1>
        </div>
        <div class="description">
            <p>
                <span>旅行のように当サイトをお楽しみください!</span>
                <br>
                <span>Enjoy our presentation of NPL</span>
                <br>
            </p>
        </div>
    </div>
</main>

</body>
</html>